<a href="https://colab.research.google.com/github/CheronoK/Independent-Project/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2019_07_Martha_Kibet_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Moringa Data Science Prep Independent Project: WEEK 4

**QUESTION**

In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving the research questions given.

**DATASETS GIVEN**

Autolib dataset[http://bit.ly/autolib_dataset]

Dataset description[https://drive.google.com/a/moringaschool.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view?usp=sharing]

## 1.0 Importing our libraries

In [0]:
#Importing pandas library
import pandas as pd
#Importing numpy library
import numpy as np

## 1.1 Loading the dataset as a CSV file

In [169]:
df = pd.read_csv('http://bit.ly/autolib_dataset')
df.shape

(5000, 25)

## 1.2 Previewing the dataset

In [170]:
#Previewing the first 10 rows of the dataset
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

## 1.3 Accessing information about the dataset

In [171]:
#Knowing more about the dataset
#finding the size of the dataset
df.shape
#Counting non-empty rows in the dataset
df.count()
#Checking if there is any missing value acros each column
df.isnull().any()
#Checking how many missing values there are across each column
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

## 1.4 Cleaning the dataset

### 1.41 Validity

In [172]:
#Dropping all columns with any null values
df2 = df.dropna(axis=1)
df2.count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

In [173]:
#Dropping attributes/columns that are irrelevant and won't be needed during analysis
df3 = df2.drop(['Address','Cars','Charge Slots','Charging Status', 'ID','Geo point','Slots','Subscription status',], axis= 1)
df3.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour  minute
0                0               0                   0  ...   8   11      43
1                6               0                   0  ...   6    7      24
2                3               0                   2  ...   3   20      14
3                3               1                   0  ...   4    4      37
4                3               0                   0  ...   8   17      23

[5 rows x 15 columns]

In [174]:
#Dropping the year and month column since they have the same values in all the rows
df3.drop(['year','month'], axis = 1, inplace = True)
df3

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour  minute
0                   0               0                   0  ...   8   11      43
1                   6               0                   0  ...   6    7      24
2                   3               0                   2  ...   3   20      14
3                   3               1                   0  ...   4    4      37
4                   3               0                   0  ...   8   17      23
...               ...             ...                 ...  ...  ..  ...     ...
4995                2               0                   0  ...   6   11      26
4996                4               0                   0  ...   4   16      56
4997                1               0                   0  ...   1    7       1
4998                2               0                   0  ...   4   17      27
4999                4               0                   0  ...   8   10       2

[5000 rows x 13 columns]

### 1.42 Accuracy

In [175]:
#checking for null values
df3.isnull().sum()

Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
City                  0
Kind                  0
Postal code           0
Public name           0
Rental status         0
Station type          0
Status                0
day                   0
hour                  0
minute                0
dtype: int64

### 1.43 Completeness

In [176]:
#checking for any missing values in our new dataframe
df3.isnull().any()

Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
City                  False
Kind                  False
Postal code           False
Public name           False
Rental status         False
Station type          False
Status                False
day                   False
hour                  False
minute                False
dtype: bool

### 1.44 Consistency

In [177]:
#Dropping duplicates if any from the new dataset
df4 = df3.drop_duplicates()
df4.shape

(5000, 13)

### 1.45 Uniformity

In [178]:
#Removing spaces from the column names and replacing it with an underscore and also removing fullstops
df4.columns = df4.columns.str.replace(" ", "_").str.replace(".","")
df4

      Bluecar_counter  Utilib_counter  Utilib_14_counter  ... day hour  minute
0                   0               0                  0  ...   8   11      43
1                   6               0                  0  ...   6    7      24
2                   3               0                  2  ...   3   20      14
3                   3               1                  0  ...   4    4      37
4                   3               0                  0  ...   8   17      23
...               ...             ...                ...  ...  ..  ...     ...
4995                2               0                  0  ...   6   11      26
4996                4               0                  0  ...   4   16      56
4997                1               0                  0  ...   1    7       1
4998                2               0                  0  ...   4   17      27
4999                4               0                  0  ...   8   10       2

[5000 rows x 13 columns]

In [179]:
#Changing the names of the columns to lowercase
df4.columns = map(str.lower, df4.columns)
df4.count()

bluecar_counter      5000
utilib_counter       5000
utilib_14_counter    5000
city                 5000
kind                 5000
postal_code          5000
public_name          5000
rental_status        5000
station_type         5000
status               5000
day                  5000
hour                 5000
minute               5000
dtype: int64

In [180]:
#creating new columns to show the usage of the 3 cars

#calculating the difference in the rows in the columns for the different cars to come up with the car usage
#using the diff() function from pandas
#creating column for the blue car usage
df4['bluecar_usage'] = df4.bluecar_counter.diff()

#creating column for the utilib car usage
df4['utilib_usage'] = df4.utilib_counter.diff()

#creating column for the utilib1.4 car usage
df4['utilib_14_usage'] = df4.utilib_14_counter.diff()
df4.count()

bluecar_counter      5000
utilib_counter       5000
utilib_14_counter    5000
city                 5000
kind                 5000
postal_code          5000
public_name          5000
rental_status        5000
station_type         5000
status               5000
day                  5000
hour                 5000
minute               5000
bluecar_usage        4999
utilib_usage         4999
utilib_14_usage      4999
dtype: int64

In [181]:
#filling in the missing values in the new dataset
df4['bluecar_usage'].fillna(0,inplace=True)
df4['utilib_usage'].fillna(0,inplace=True)
df4['utilib_14_usage'].fillna(0,inplace=True)
df4.count()

bluecar_counter      5000
utilib_counter       5000
utilib_14_counter    5000
city                 5000
kind                 5000
postal_code          5000
public_name          5000
rental_status        5000
station_type         5000
status               5000
day                  5000
hour                 5000
minute               5000
bluecar_usage        5000
utilib_usage         5000
utilib_14_usage      5000
dtype: int64

## 1.5 Exporting the Cleaned Dataset

In [182]:
#Exporting the new dataframe as a csv file
df4.to_csv('Data.csv')
Data = pd.read_csv('Data.csv')
Data.count()

Unnamed: 0           5000
bluecar_counter      5000
utilib_counter       5000
utilib_14_counter    5000
city                 5000
kind                 5000
postal_code          5000
public_name          5000
rental_status        5000
station_type         5000
status               5000
day                  5000
hour                 5000
minute               5000
bluecar_usage        5000
utilib_usage         5000
utilib_14_usage      5000
dtype: int64

## 1.6 Performing Data Analysis

###QUESTION 1
Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

In [183]:
#Subsetting data and selecting only rows where the city is Paris and Bluecar was picked up i.e the usage is negative
Data1 = Data[(Data.city == 'Paris') & (Data.bluecar_usage < 0)]

#Sorting the hours
Data1.groupby(['hour'])['bluecar_counter'].count().sort_values(ascending=False).head(1)

hour
21    80
Name: bluecar_counter, dtype: int64

###QUESTION2
What is the most popular hour for returning cars?

In [184]:
#Subsetting the data by selecting positive of the blue car usage then sorting the hours
Data[Data.bluecar_usage > 0].groupby(['hour'])['bluecar_counter'].count().sort_values(ascending=False).head(1)

hour
6    101
Name: bluecar_counter, dtype: int64

###QUESTION 3
What station is the most popular?

i.) Overall

In [185]:
#Subsetting the dataset then sorting it by the name
Data2 = Data[(Data.kind == 'STATION') & (Data.rental_status == 'operational')]
Data2.groupby(['public_name'])['kind'].count().sort_values(ascending=False).head(1)

public_name
Paris/Porte de Montrouge/8    13
Name: kind, dtype: int64

ii.) At the most picking hour

In [186]:
#Subsetting the dataset then sorting it by the name
Data3 = Data[(Data.kind == 'STATION') & (Data.rental_status == 'operational') & (Data.hour == 21)]
Data3.groupby(['public_name'])['kind'].count().sort_values(ascending=False).head(1)

public_name
Paris/Tronchet/19    4
Name: kind, dtype: int64

###QUESTION 4
What postal code is the most popular for picking up Blue cars?

i.) Overall?

In [187]:
#Subsetting the data then sorting it by the postal code
Data[Data.bluecar_usage < 0].groupby(['postal_code'])['bluecar_counter'].count().sort_values(ascending=False).head(1)

postal_code
75015    116
Name: bluecar_counter, dtype: int64

ii.) At the most popular picking hour

In [188]:
#Subsetting the data to only coonsider the rows with the popular hour then sorting it by the postal code
Data[(Data.bluecar_usage < 0) & (Data.hour == 21 )].groupby(['postal_code'])['bluecar_counter'].count().sort_values(ascending=False).head(1)

postal_code
75008    9
Name: bluecar_counter, dtype: int64

iii.)Does the most popular station belong to that postal code

In [189]:
#Checking the postal code for the most popular station
Data[Data.public_name == 'Paris/Tronchet/19'][['public_name','postal_code']].head(1)

           public_name  postal_code
600  Paris/Tronchet/19        75008

Yes, the most popular station at the most picking hour 
of a blue car belongs to the postal code at the most picking hour

###QUESTION 5
Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

Identify the most popular hour of the day for picking up a the Utilib car in the city of Paris

In [190]:
#Subsetting data and selecting only rows where the city is Paris and Utilib was picked up i.e the usage is negative
Data[(Data.city == 'Paris') & (Data.utilib_usage < 0)].groupby(['hour'])['utilib_counter'].count().sort_values(ascending=False).head(1)

hour
19    12
Name: utilib_counter, dtype: int64

Identify the most popular hour of the day for picking up a the Utilib 1.4 car in the city of Paris

In [191]:
#Subsetting data and selecting only rows where the city is Paris and Utilib 1.4 was picked up i.e the usage is negative
Data[(Data.city == 'Paris') & (Data.utilib_14_usage < 0)].groupby(['hour'])['utilib_14_counter'].count().sort_values(ascending=False).head(1)

hour
3    20
Name: utilib_14_counter, dtype: int64

Yes, the results change if we consider Utilib and Utilib 1.4 cars as they each have a different most popular picking hour

## Recommendation

From our analysis, we’d recommend that the company increases the number of cars during the most popular picking hour as most people need cars at that time. They could also increase the cars at the most popular picking stations both overall and the most picking hours.
They should also consider the most popular hours for each of the cars as each has their own popular picking hour